@use './global.scss' as global;

main#art{
    display: flex;
    justify-content: space-between;

    .projects{
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        > div{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .project{
                background: lighten(global.$black3, 65%);
                width: 300px;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 12px;
                position: relative;

                .title{
                    font-size: 1.2em;
                    font-weight: 500;
                }

                .buttons{
                    display: flex;
                    gap: 10px;

                    a, button{
                        background: global.$main;
                        border: 2px solid global.$black2;
                        border-radius: 4px;
                        padding: 2px 12px;
                        width: fit-content;
                        text-decoration: none;
                        font-size: 1em;
                        box-shadow: none;
                        transition: 150ms box-shadow;
    
                        &:hover{
                            box-shadow: 0 0 2px global.$black3;
                        }
                    }    
                }

                .star{
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    background: url("/star.svg");
                    background-size: 70%;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    height: 28px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    transform: rotate(0deg);
                    transition: 250ms transform;

                    &.active{
                        background: url("/star.svg"), global.$main;
                        background-size: 70%;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        transform: rotate(72deg);
                    }
                    
                    button{
                        opacity: 0;
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}